<main class="main-container">
  <h1>mydailymeal</h1>
  <h2 class="text-center">Weniger über Essen nachdenken - mehr genießen!</h2>
  <p>Was möchtest du heute essen?</p>

  {{#action-button clicked=(action "linkToRandomMeal")}}
    Überrasch mich
  {{/action-button}}

  {{#action-button}}
    Filtern
  {{/action-button}}
</main>

{{outlet}}