<main class="main-container">
  <h1>mydailymeal</h1>
  <h2 class="text-center">Weniger über Essen nachdenken - mehr genießen!</h2>
  <p>Was möchtest du heute essen?</p>

  <button class="btn btn-primary action-button" {{action "linkToRandomMeal"}}>Überrasch mich</button>
  <button class="btn btn-secondary action-button" {{action "linkToRandomMeal"}}>Filtern</button>
</main>

{{outlet}}